= form_for @issue do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :statement
    = f.text_field :statement, class: 'form-control'
  .form-group
    = f.label :acknowledged
    = f.check_box :acknowledged, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-default'
