%h1 Reported Issues

%h2 Open Issues

%table.table.table-striped
  %thead
    %tr
      %th Issue
      %th Acknowledged
      %th Priority Level
      %th Reported By
      %th Votes
      - if user_signed_in?
        %th
        %th

  %tbody
    - @open_issues.each do |issue|
      %tr{class: class_for_priority(priority: issue.priority)}
        %td= issue.statement
        %td= issue.acknowledged
        %td= t("activerecord.attribute_values.issue.priority.#{issue.priority}")
        %td
          = image_tag gravatar_url(current_user)
          = issue.owner.andand.email
        %td= issue.voters.count
        - if user_signed_in? && !current_user.issues_voted_for.include?(issue)
          %td= link_to 'Vote for Issue', vote_issue_path(issue), method: :post
        - else
          %td

        - if user_signed_in? && current_user.can_acknowledge_issue?(issue) && !issue.acknowledged?
          %td= link_to 'Acknowledge', acknowledge_issue_path(issue), method: :post
        - else
          %td

        - if user_signed_in? && current_user.can_manage_issue?(issue)
          %td= link_to 'Edit', edit_issue_path(issue)
          %td= link_to 'Close', close_issue_path(issue), method: :post, data: { confirm: 'Are you sure?' }
        - else
          %td
          %td

%h2 Closed Issues

%table.table.table-striped
  %thead
    %tr
      %th Issue
      %th Acknowledged
      %th Priority Level
      %th Closed By

  %tbody
    - @closed_issues.each do |issue|
      %tr{class: class_for_priority(priority: issue.priority)}
        %td= issue.statement
        %td= issue.acknowledged
        %td= t("activerecord.attribute_values.issue.priority.#{issue.priority}")
        %td
          = image_tag gravatar_url(current_user)
          = issue.closer.andand.email

%br

- if user_signed_in?
  = link_to 'New Issue', new_issue_path
